html, body, .container-fluid{
   height: 100%;
   position: relative;
}
.row {
  margin-right:0;
  margin-left:0;
}

.title{
	height: 88%;
	background-color: #00886D;
}

.container-fluid{
  font-family: 'Josefin Sans', sans-serif;
	padding-left:0;
  padding-right: 0;
}

.titleBox {
  top:25%;
  text-align: center;
  display: table;
}

.titleBox h1 {
  color: #fff;
  font-size: 68px;
  letter-spacing: .1em;
  font-weight: bold;
}

.titleBox p {
  font-size: 22px;
  color: #fff;
}

.titleBox .socialMedia{
  color: #fff;
  padding-right: .5em;
}

.titleBox .socialMedia:hover{
  color: #284375;
}
.nav {
	text-align: center;
	display: flex;
  background-color: #fff;
	align-items:center;
}

.nav h2 {
  color: #000;
	margin-bottom: 3%;
	font-size: 24px;
}

.AboutMe {
  height: 94%;
  background-color: #284375;
  font-family: 'Josefin Sans', sans-serif;
	display: -webkit-flex;
	-webkit-align-items: center;
}

.AboutMe h1 {
	margin-top: 0;
  font-size: 56px;
  color: #fff;
}
.AboutMe p {
  font-size: 19px;
  color: #fff;
  margin-top: 3%;
  text-align: justify;
}

.projects{
  font-family: 'Josefin Sans', sans-serif;
}

.header{
  background-color: #F6981A;
  height: 500px;
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
}
.header h1{
  color: #000;
	font-size: 100px;
  width: 100%;
  height: 120px;
}

.subCategory{
  height: 150px;
  background-color: #284375;
  z-index: 1;
  
}
.subCategory h1{
  color: #000;
  z-index: 1;
  width: 190px;
  height: 80px;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin-left: 400px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 70px;
	letter-spacing: .1em;
}

.pythonProj{
	margin: 0;
  height: 400px;
  background-color: #F6981A;
}

.pythonProjTitle h2{
	color: #000;
	font-size: 56px;
	text-align: center;
	letter-spacing: .1em;
	margin-top: 135px;
}

.pythonProjTitle h2:hover{
	color: #284375;
	font-size: 60px;
}

.pythonProjTitle a:hover{
	text-decoration: none;
}

.cribImg{
	height: 400px;
	background-image: url(/img/Crib2.jpg);
}


.bogImg{
  height: 400px;
  background-image: url(/img/bog.jpg);
  
}

.animImg{
  height: 400px;
  background-image: url(/img/Mntn.jpg);
  z-index: 1;
}

.cProj{
  height: 600px;
  background-color: #F6981A;
}

.cProjTitle h2{
	color: #000;
	font-size: 56px;
	text-align: center;
	letter-spacing: .1em;
	margin-top: 135px;
}

.cProjTitle h2:hover{
	color: #284375;
	font-size: 60px;
}

.cProjTitle a:hover{
	text-decoration: none;
}

.carVid{
  height: 600px;
}

.videoInsert {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
		max-width: 100%;
    min-height: 100%;
    width: auto; 
    height: auto; 
	 	background-size: cover;
    overflow: hidden;
}